/* ==========================================================================
    Style Button
========================================================================== */
.btn, button, .button, input[type='submit'] {
    border: 2px solid $primary_color;      
    background-color: $primary_color;
    @include border-radius(0);    
    color: #fff;
    font-size: 13px;
    font-weight: 800;
    line-height: 47px;
    margin: 0;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 0.002em;
    position: relative;
    @include transition(all 300ms linear 0ms);
    &:hover,&:focus{
        color: $primary_color;
        border-color: $primary_color;
        background-color: transparent;  
        outline: none;   
    }
}
.btn {
	i {
        padding-left: 12px;
	}
    &.btn-primary{
        background-color: transparent;
        border-color: $primary_color;
        color: $primary_color;
        &:hover{
            background-color: $primary_color;
            border-color: $primary_color;
            color: #fff;
        }
    }
    &.btn-secondary{
        background-color: #222;
        border-color: #222;
        color: #fff;
        &:hover{
            background-color: $primary_color;
            border-color: $primary_color;
            color: #fff;
        }
    }
    &.btn-secondary-alt{
        background-color: transparent;
        border-color: #222;
        color: #222;
        &:hover{
            background-color: #222;
            border-color: #222;
            color: #fff;
        }
    }
    &.btn-white{
        border-color: #fff;
        background-color: #fff;
        color: #222;
        &:hover{
            border-color: #fff;
            background-color: transparent;
            color: #fff;
        }
    }
    &.btn-white-alt{
        border-color: #fff;
        background-color: transparent;
        &:hover{
            border-color: #fff;
            background-color: #fff;
            color: #222;    
        }
    }
    &.btn-no-style{
        background-color: transparent;
        border-color: transparent;
        color: $primary_color;
        &:hover{
            color: #222222;
            background-color: transparent;
            border-color: transparent;
        }
    }
    &.btn-no-style-alt{
        background-color: transparent;
        border-color: transparent;
        color: #222;
        &:hover{
            color: $primary_color;
            background-color: transparent;
            border-color: transparent;
        }
    }
    &.btn-no-style-white{
        background-color: transparent;
        border-color: transparent;
        color: #fff;
        &:hover{
            color: $primary_color;
            background-color: transparent;
            border-color: transparent;
        }
    }
    &.btn-no-style-primary{
        background-color: transparent;
        border-color: transparent;
        color: $primary_color;
        &:hover{
            color: #fff;
            background-color: transparent;
            border-color: transparent;
        }
    }
    &.btn-rounded{
        @include border-radius(51px);
    }   
    &.btn-md{
        padding: 0 44px;  
    }
    &.btn-md2{
        padding: 0 40px;  
    }
    &.btn-lg{
        padding: 0 93px;   
    }
    &.btn-niche {
        border: none;
        @include border-radius(2px);
        display: inline-block;
        margin: 15px 12px;
        letter-spacing: 0.02em;
        font-size: 16px;
        text-transform: none;
        font-weight: 600;
        padding-left: 40px;
        padding-right: 40px;
        line-height: 60px;
        &:hover {
            opacity: 0.8;
            color: #fff;
        }
    }
}
/* Button slider */
.rev_slider_wrapper {
    .btn {
        @include transition(all 300ms linear 0ms !important);
    }
    .btn-space {
        margin: 0 12px !important;
    }
}
/* ==========================================================================
    End Style Button
========================================================================== */