/* ==========================================================================
   [Start] All Style Form
========================================================================== */
input[type='text'],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea, select {
    background-color: transparent;
    border: 2px solid #eeeeee;
    color: #9b9b9b;
    font-size: 13px;
    height: 51px;
    line-height: 26px;
    letter-spacing: 0.02em;   
    padding: 10px 20px 11px; 
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    &:focus{
        border-color: $primary_color;
        @include box-shadow(none); 
        outline: none;        
    }
}
textarea {
    min-height: 111px;
    max-width: 100%;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #9b9b9b;
    opacity: 1;
}
input::-webkit-input-placeholder, textarea::-webkit-placeholder {
    color: #9b9b9b;   
    opacity: 1;
}
input::-o-placeholder, textarea::-o-placeholder {
    color: #9b9b9b;
    opacity: 1;
}
input::-ms-placeholder, textarea::-ms-placeholder {
    color: #9b9b9b;
    opacity: 1;
}
.input-filled{
    margin-bottom: 30px;
}
.input-filled2{
    margin-bottom: 20px;
}
input[type='submit']{
    width: 100%;
    margin-top: 10px;
}
/* ==========================================================================
   [End] All Style Form
========================================================================== */
