 /* ==========================================================================
   [Start] 1. Reset HTML/CSS, Unitest, Body
========================================================================== */
body {
  color: #9b9b9b;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
  overflow: visible;
  overflow-x: hidden;                        
}
body{
  &.page-template-right-sidebar,
  &.page-template-left-sidebar,
  &.page-template-blog-classic,
  &.page-template-blog-classic-right-sidebar,
  &.page-template-blog-classic-left-sidebar,
  &.single-post,
  &.blog,
  &.search{
    background-color: #f9f9f9;
  }
}
.entry-content > .wpb_row .wpb_row {
  margin-left: -15px;
  margin-right: -15px;
}
.entry-content > .wpb_row .wpb_row .container{
  width: 100%;
}
.entry-content > .wpb_row .row .row {
  margin: 0;
}
.entry-content > .vc_row-fluid {
  position: relative;
}  
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li{
  margin-bottom: 0 !important;
}
.wp-caption-text {
  opacity: 1;
}     
.gallery-caption {
  opacity: 1;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 14px;
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  -ms-hyphens:     none;
  hyphens:         none;
}
pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 14px;
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl {
  margin: 0 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 20px;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%;
  @include border-radius(0);
  th {
    color: $color_dark;
  }
}

caption, td {
    font-weight: normal;
    text-align: left;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
  padding: 13px 8px;
}
th {
  font-weight: 700;
}
td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}
del {
  color: #333;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  ul.children{
    padding-left: 10px;
  }
}
code, kbd {
  background-color: transparent;
  border-radius: 4px;
  color: inherit;
  font-size: 100%;
  padding: 2px 4px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
}
ins {
  color: #fff;
  border: none;
  padding: 2px;
  text-decoration: none;
  background-color: $primary_color;
}
dl + h2 + ul {
  list-style: none;
  padding: 0 0 0 35px;
  li {
    position: relative;
    padding-left: 15px;
    &:before {
      content: "\f111";
      font-family: FontAwesome;
      font-size: 7px;
        left: 0;
        position: absolute;
        color: $primary_color;
    }
    ul {
      padding-left: 35px;
    }
  }
}

hr {
  background: url(/wp-content/themes/pub/twentythirteen/images/dotted-line.png) repeat center top;
  background-size: 4px 4px;
  border: 0;
  height: 1px;
  margin: 0 0 24px;
}
.br-2px {
  @include border-radius(2px);
}
.br-3px {
  @include border-radius(3px);
}
.br-4px {
  @include border-radius(4px);
}
.br-5px {
  @include border-radius(5px);
}
.z-index-1 {
  z-index: 1;
}
/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
  max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
  max-width: 100%;
}

/* Images */
.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-primary {
  background-color: $primary_color;
}

/* ==========================================================================
   [End] 1. Reset HTML/CSS, Unitest, Body
========================================================================== */

/* ==========================================================================
   [Start] 2. Page Title
========================================================================== */
.background-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;   
  &.bg-gradient {  
    @include background-horizontal(rgba($secondary_color,0.75), rgba($primary_color,0.75)); 
    &.style-vertical{
      @include background-gradient(rgba($primary_color,0.75), rgba($secondary_color,0.75)); 
    }
  }
  &.bg-overlay-primary {
    background-color: rgba($primary_color, 0.65);
  }
}

#page-title {
  position: relative;
  padding-top: 222px;
  padding-bottom: 120px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $secondary_color;
  text-align: center;   
  > .container {
    position: relative;   
    z-index: 1;
  }
  #page-title-text { 
    h1 {
      position: relative;
      text-transform: capitalize; 
      color: #ffffff;
      font-size: 75px;    
      font-style: normal;
      font-weight: 700;   
      line-height: 83px;  
      margin-bottom: 5px;      
    }
    .page-title-subtitle{
      font-size: 17px;
      line-height: 26px;
      color: #f9f9f9;
      font-family: inherit;
    }
  }
  #breadcrumb-text {
    ul.breadcrumbs {  
      padding: 19px 0 14px;      
      li{
        color: #f9f9f9;
        display: inline-block;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        margin: 0;
        padding: 0 16px;
        position: relative;
        text-transform: capitalize;
        a{
          color: #e5e4e4;    
          &:hover{
            color: #f9f9f9;
          }
        }
        &:before{    
          content: "/";     
          color: #e5e4e4;
          position: absolute;     
          top: 50%;
          @include transform(translateY(-50%));
          left: -2px;
        }
        &:first-child{
          &:before{
            display: none;
          }
        }
      }    
    }
  }
  &.layout-2{
    padding-bottom: 123px;
    padding-top: 222px;
  }    
  &.layout-3{
    padding-bottom: 0;
    padding-top: 244px;
    #breadcrumb-text {
      ul.breadcrumbs {
        padding-bottom: 145px;
        padding-top: 19px;
        li{
          &:first-child{
            padding-left: 0;
          }
        }
      }
    }
  }
  &.layout-4{
    padding-bottom: 103px;
    padding-top: 187px;
    #breadcrumb-text {
      ul.breadcrumbs {
        padding-bottom: 14px;
        padding-top: 19px;
        li{
          color: #f9f9f9;
          &:before{
            color: #f9f9f9;
          }
          a{
            color: #f9f9f9;
            &:hover{
              color: $primary_color;
            }
          }
        }
      }
    }
  }
  &.layout-5{
    padding-bottom: 70px;
    padding-top: 84px;
    #page-title-text {
      h1{
        color: #282828;
        font-size: 45px;
        line-height: 50px;
      }
      .page-title-subtitle{
        color: #333;
      }
    }
    #breadcrumb-text {
      ul.breadcrumbs {
        padding-bottom: 14px;
        padding-top: 9px;
        li{
          color: #333;
          &:before{
            color: #333;
          }
          a{
            color: #333;
            &:hover{
              color: $primary_color;
            }
          }
        }
      }
    }
    .background-overlay {
      background-color: rgb(241, 241, 241);
    }
  }
  &.layout-6{
    border-top: 1px solid #e8e8e8;
    padding-bottom: 54px;
    padding-top: 60px;
    #page-title-text {
      h1{
        color: #282828;
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 0;
      }
      .page-title-subtitle{
        color: #333;
      }
    }
    #breadcrumb-text {
      ul.breadcrumbs {
        padding-bottom: 0;
        padding-top: 10px;
        li{
          color: #333;
          &:last-child{
            padding-right: 0;     
          }
          &:first-child{
            padding-left: 0;
          }
          &:before{
            color: #333;
          }
          a{
            color: #333;
          }
        }
      }
    }
    .background-overlay {
      background-color: #fff;
    }
  }
  &.layout-7{
    padding-bottom: 24px;
    padding-top: 221px;
    #breadcrumb-text {
      ul.breadcrumbs {
        padding-bottom: 0;
        padding-top: 78px;
      }
    }
  }
  &.layout-8{
    padding-bottom: 85px;
    padding-top: 86px;
    .background-overlay{
      background-color: rgba(#1b1a1a,0.25);
    }
    #page-title-text {
      h1{
        font-size: 45px;
        line-height: 50px;
      }
    }
    #breadcrumb-text {
      ul.breadcrumbs {
        padding-bottom: 0;
        padding-top: 6px;
        li{
          color: #f9f9f9;
          &:before{
            color: #f9f9f9;   
          }
          a{
            color: #f9f9f9;
          }
        }
      }
    }
  }
  &.layout-9{
    padding-bottom: 102px;
    padding-top: 207px;
    .background-overlay {
      background-color: rgba($primary_color, 0.65);
    }
    #breadcrumb-text {
      ul.breadcrumbs {
        padding-bottom: 14px;
        padding-top: 0;
      }
    }
  }
}
body#cms-theme{
  &.woocommerce,
  &.woocommerce-cart{
    #page-title{
      padding: 223px 0 0;
      #breadcrumb-text {
        ul.breadcrumbs{
          padding: 0 0 126px 0;    
        }
      }
    }
    .page-space-content{
      padding-top: 110px;
      padding-bottom: 65px;
    }
  }
}
/* ==========================================================================
   [End] 2. Page Title
==============================================

/* ==========================================================================
   [Start] 3. Primary
========================================================================== */
/* Page 404 */
.error404{
  #page-title{
    padding-bottom: 138px;
    padding-top: 236px;
    #breadcrumb-text ul.breadcrumbs{
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  .page-space-content{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.error-404{
  max-width: 620px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  line-height: 23px;
  color: #a5a5a5;    
  .page-header{
    margin: 0;
    border: none;
    padding: 0;
    h1{
      font-size: 280px;
      line-height: 280px;
      letter-spacing: 0.02em;
      font-weight: 600;
      font-family: Poppins;
      color: #222;
      position: relative;
      margin-bottom: 18px;
      margin-top: -20px;
      &:before{
        content: "";
        width: 50px;
        height: 2px;
        background-color: $primary_color;
        position: absolute;
        left: 50%;
        bottom: 6px;
        @include transform(translateX(-50%));
      }
    }
  }
  .page-content{
    a.btn{
      margin-top: 21px;    
    }
  }
}
.error-404-layout1{
  padding-bottom: 3px;       
}   
.error-404-layout2{
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/page404.jpg);
  .bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: rgba($primary_color, 0.9);
    content: "";   
  }
  .error-404 {
    color: #f9f9f9;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
    .page-header h1{
      color: #fff;
      &:before{
        background-color: #fff;
      }
    }
  }
}
/* Page Loading */
#cms-loadding {
  background: #fff;    
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10000;     
  top: 0;
}
.cms-loader:before,
.cms-loader:after,
.cms-loader {
  border-radius: 50%;
  height: 18px;
   width: 18px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: cmsloader 1.8s infinite ease-in-out;
  animation: cmsloader 1.8s infinite ease-in-out;
}
.cms-loader {
  font-size: 10px;
  margin: auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    top: 50%;
  @include transform(translate(0px, -50%));
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
  }
  &:before {
    left: -28px;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
  }
  &:after {
    left: 28px;
  }
}
@-webkit-keyframes cmsloader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em $primary_color;
  }
  40% {
    box-shadow: 0 2.5em 0 0 $primary_color;
  }
}
@keyframes cmsloader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em $primary_color;
  }
  40% {
    box-shadow: 0 2.5em 0 0 $primary_color;
  }
}

/* Custom - Row background image */
.vc_row {
  position: relative;
  &.bg-overlay{
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: inherit; 
      content: "";   
      z-index: 1;
    }
    &.bg-rgba-65:before {
      background-color: rgba($primary_color, 0.65);
    }
    &.bg-rgba-85:before {
      background-color: rgba($primary_color, 0.85);
    }
    &.bg-rgba-95:before {
      background-color: rgba($primary_color, 0.95);
    }
  }
  &.remove-overflow{
    overflow: visible !important;  
    z-index: 1;           
  }
  &.vc_row-flex{
    &:before{
      display: block !important;
    }
  }
  &.half-left-background {
    background-position: left top !important;    
    background-size: 50% 100% !important;   
  }
  &.half-right-background {
    background-position: right top !important;     
    background-size: 50% 100% !important;  
  }
  &.half-left-background,
  &.half-right-background  {
    .vc_column_container{
      .vc_column-inner{
        //top: 50%;
        //@include transform(translateY(-50%));    
        //position: absolute;              
      }
    }
  }
  &.border-left-right{
    border-left: 40px solid #fff;
    border-right: 40px solid #fff;
  }
  &.vc_row-o-equal-height{
    .wpb_wrapper{
      height: 100%;     
    }
  }
}
.page-space-content{
  padding-top: 110px;
  padding-bottom: 110px;
  &.pt-0{
    padding-top: 0 !important;
  }
  &.pb-0{
    padding-bottom: 0 !important;
  }
}

/* ==========================================================================
   [End] 3. Primary
========================================================================== */

/* Rev Slider */
.tp-dottedoverlay{
  background: rgba(#1b1a1a, 0.25) !important;
  &.twoxtwowhite{
    background: rgba(#0cb1ca, 0.65) !important;
  }
  &.threexthree{
    background: rgba(#1b1a1a, 0.15) !important;
  }
  &.threexthreewhite{
    background: rgba(#e95d53, 0.8) !important;
  }
}
body .rev_slider_wrapper{
  .cms-video-popup {
    text-align: center;
    display: inline-block;
    &.style4:hover {
      color: $primary_color;
    }
    &.button-video {
      min-width: 68px;
      width: initial;
    }
  }
  .rev_slider{      
    .custom.tparrows{
      background-color: transparent;
      &.tp-leftarrow{
        &:before{
          content: "\f104" !important;
        } 
      }
      &.tp-rightarrow{
        &:before{
          content: "\f105" !important;
        }
      }
      &:before{
        font-size: 25px;
        font-family: FontAwesome;
      }
    }
    .zeus.tparrows{     
      @include border-radius(0 !important);
      background: transparent !important;
      min-width: 130px !important;
      line-height: 60px !important;  
      min-height: 60px !important;  
      text-align: center;
      @include transition(all 300ms linear 0ms !important);
      &.tp-leftarrow{
        &:before{
          content: "\f104" !important;
        }
      }
      &.tp-rightarrow{
        &:before{
          content: "\f105" !important;
          float: right !important;
        } 
        .tp-title-wrap{
          right: 0 !important;
          left: auto !important;
        }
        .tp-arr-imgholder{
          @include transform(translateX(0) !important);
        }  
      }
      &:before{
        width: 50% !important;
        display: inline-block ;
        float: left !important;
        font-size: 25px !important;
        font-family: FontAwesome !important;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 60px !important;
      }    
      .tp-title-wrap{
        background-color: transparent !important;
        opacity: 1 ;
        width: 50% !important ;
        @include transform(scale(1) !important) ;
        @include border-radius(0 !important);
      }   
      .tp-arr-imgholder{
        @include transform(translateX(0) !important);
        @include border-radius(0 !important);
        opacity: 0;   
      }    
      &:hover{ 
        &:before{
          color: #333 !important;
        }    
        .tp-title-wrap{
          @include transform(scale(1) !important);
          opacity: 1;
          background-color: #fff !important;
        }
        .tp-arr-imgholder{     
          opacity: 1;
          @include transform(translateX(100%) !important);
        }      
        &.tp-rightarrow{
          .tp-arr-imgholder{     
            @include transform(translateX(-100%) !important);
          }  
          .tp-title-wrap{
            background-color: #fff !important;
          } 
        }   
      } 
    }
    .tp-bullets{
      .tp-bullet{
        width: 10px;
        height: 10px;        
        margin: 0 5px;   
        background-color: transparent;
        @include border-radius(50%);
        border: 2px solid #b4b4b4;
        &.selected,&:hover{
          background-color: $primary_color;
          border-color: $primary_color;
        }
      }
      &.custom{
        .tp-bullet{
          border-color: #e1e1dd;   
          width: 6px;
          height: 6px;   
          &.selected,&:hover{
            background-color: #fff;
            border-color: #fff;
          }
        }
      }
    }
    .btn-default{
      &:hover{
        background-color: #fff;
        border-color: #fff;
        color: $primary_color;
      }
    }
  }
}
ul.cms-social{
  li{
    display: inline-block;
    a{
      font-size: 14px;
      line-height: 23px;
      color: #fff;
      padding: 0 8px;     
      &:hover{
        color: $primary_color;
      }
    }
  }
}

.contact-info{
  font-size: 14px;
  line-height: 23px;
  h3{
    font-size: 18px;
    line-height: 29px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 14px;
  }
  a{
    font-size: 13px;
    line-height: 49px;
    text-transform: uppercase;
    color: $primary_color;
    font-weight: 800;   
    letter-spacing: 0.02em;
    margin-top: -6px;
    display: block;
    -webkit-transition: transform .45s cubic-bezier(.52,-1.1,.18,3.01);
    -moz-transition: transform .45s cubic-bezier(.52,-1.1,.18,3.01);
    transition: transform .45s cubic-bezier(.52,-1.1,.18,3.01);
    &:hover{
      -webkit-transform: translateX(7px) translateZ(0);
      -moz-transform: translateX(7px) translateZ(0);
      transform: translateX(7px) translateZ(0);
    }      
  }
}
.team-work{
  color: #333;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: 0.02em;
  h3{
    color: #282828;
    font-size: 25px;
    letter-spacing: -0.02em;
    line-height: 28px;  
    font-weight: 700;     
    margin-bottom: 27px;
  }
  h4{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #282828;     
    letter-spacing: 0;
    margin-bottom: 3px;
  }
  p{
    margin-bottom: 15px;
  }
}
#cms-theme {
  #fp-nav{
    background: #f9f9f9;
    @include border-radius(30px);
    right: 30px;
    z-index: 1000;  
    ul {
      padding: 5px 0;
      li {
        height: inherit;
        line-height: 1;
        margin: 0;
        padding: 5px 0;
        text-align: center;
        width: 30px;
        a {
          span {
            background-color: transparent;
            border: 2px solid #aeaeae;
            display: inline-block;
            height: 10px;
            margin: 0;
            position: static;
            width: 10px;
          }
          &.active span {
            border-color: $primary_color;
            background-color: $primary_color;
          }
        }
      }
    }
  }
}
.fp-enabled {
  .ef3-back-to-top {
    display: none;
  }
  #cshero-header-inner {
    #cshero-header .menu-popup:hover {
      color: rgba(255,255,255,0.9);
      i:after {
        background-color: rgba(255,255,255,0.9);
      }
    }
    &.header-24 {
       #cshero-header .menu-popup:hover {
        color: $primary_color;
        i:after {
          background-color: $primary_color;
        }
      }     
    }
  }
  .fp-logodark-even {
    &.fp-viewing-1, &.fp-viewing-4 {
      #cshero-header-inner #cshero-header {
        #cshero-header-logo {
          .main_logo {
            opacity: 0;
          }
          .sticky_logo {
            opacity: 1;
            visibility: visible;
          }
        }
        .menu-popup {
          color: #333333;
          i {
            &:after {
              background-color: #333333;
            }
          }
          &:hover {
            color: $primary_color;
            i:after {
              background-color: $primary_color;
            }
          }
        }
      }
    }
  }
  .fp-logo-light-menu {
    &.fp-viewing-1, &.fp-viewing-3 {
      #cshero-header-inner #cshero-header {
        #cshero-header-logo {
          .main_logo {
            opacity: 0;
          }
          .sticky_logo {
            opacity: 1;
            visibility: visible;
          }
        }
        .menu-popup {
          color: #fff;
          i {
            &:after {
              background-color: #fff;
            }
          }
          &:hover {
            color: $primary_color;
            i:after {
              background-color: $primary_color;
            }
          }
        }
      }
    }
  }
  .fp-logolight-menudark {
    &.fp-viewing-0, &.fp-viewing-2, &.fp-viewing-4, &.fp-viewing-6, &.fp-viewing-8, &.fp-viewing-10 {
      #cshero-header-inner #cshero-header {
        .menu-popup {
          color: #333333;
          i {
            &:after {
              background-color: #333333;
            }
          }
          &:hover {
            color: $primary_color;
            i:after {
              background-color: $primary_color;
            }
          }
        }
      }
    }
    &.fp-viewing-1, &.fp-viewing-3, &.fp-viewing-5, &.fp-viewing-7, &.fp-viewing-9 {
      #cshero-header-inner #cshero-header {
        #cshero-header-logo {
          .main_logo {
            opacity: 0;
          }
          .sticky_logo {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
body.header-22,
body.header-23{
  #page{
    padding-left: 272px;
  }
  .vc_row[data-vc-full-width]{
    left: 0 !important;
    width: 100% !important;
    margin: 0 !important;  
  }
  .site-content{
    #primary{
      width: 100%;
      >.row > .col-lg-12{
        padding: 0;
      }
    }
  }
  .cshero-menu-mobile{
    i{
      background: $primary_color;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      height: 35px;
      line-height: 35px;
      position: fixed;
      left: 0;
      text-align: center;
      top: 0;
      width: 45px;   
      z-index: 999;    
    } 
  } 
}
body.header-23{
  .vc_row[data-vc-full-width]{ 
    padding: 0 80px;
    &.vc_row-no-padding{
      padding: 0;
    }
  }
}
.z-index999{
  img{
    z-index: 999;
    position: relative;
  }
}
.custom-bg-top{     
  position: relative;
  top: -8px;
}
.daily{
  font-size: 13px;
  line-height: 22px;
  margin-top: 34px;
  .time{
    font-size: 16px;
    line-height: 29px;
    color: #282828;
    font-weight: 600;
    font-family: Poppins;
    margin-bottom: 4px;
  }
}

.fp-tableCell .wpb_column {
  &.col-h100 {
    height: 100vh;
    .vc_column-inner {
      height: 100%;
    }
  }
}
.single-team{    
  .navigation{
    margin-top: 100px;
    .nav-links{
      a{    
        img{
          width: 100%;    
        }
      }
    }
  }
  .post-share-buttons{
    ul{
      li{
        display: inline-block;    
        padding: 0 10px;
        &:first-child{
          padding-left: 0;          
        }
      }
    }
  }
}
.archive{
  .layout-portfolio {
    .row{
      margin: 0 -15px;      
    }
    .cms-grid-item{
      padding: 0 15px 40px !important;         
    }
  }
}
marquee{         
  color: rgba(255,255,255, 0.1);
  font-size: 260px;
  line-height: 260px;
  font-weight: 700;
  letter-spacing: -0.018em;
  line-height: 1em;
  opacity: 1;
  position: absolute;
  width: 100%;    
  top: -200px;              
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.row-bg-slider {
  > .vc_column_container {
    position: relative;
    z-index: 99;
  }
  .row-bg-slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: 48s linear 0s normal none infinite running animatedBackground;
    -webkit-animation: 48s linear 0s normal none infinite running animatedBackground;
    background-position: 0 0;
    background-repeat: repeat;
    background-image: inherit;
  }
}

.ef3-back-to-top{
  background-color: rgba(0, 0, 0, 0.25);
  @include border-radius(100%);
  bottom: 40px;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  height: 42px;
  overflow: hidden;
  position: fixed;
  right: 20px;
  text-decoration: none;
  width: 42px;
  z-index: 9999;
  @include transition(all 250ms linear 0ms); 
  &.off {
    opacity: 0;
    visibility: visible;
  }
  &.on {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    background-color: $primary_color;
    border-color: $primary_color;
    @include box-shadow(0 3px 20px rgba(0,0,0,0.15));
  }
  i{
    display: block;
    bottom: 0;
    color: #fff;    
    font-size: 18px;
    left: 0;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
  } 
}
#cms-buy-button-fixed {
  background: $primary_color;
  @include border-radius(4px);
  bottom: 40px;
  @include box-shadow(0 15px 50px rgba(0, 0, 0, 0.35));
  position: fixed;
  right: 92px;
  z-index: 9999;
  .btn-buy-close {
    background-color: #222;
    border-radius: 100%;
    color: #fff;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -11px;
    width: 22px;
    @include transition(all 300ms linear 0ms);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }
  a {
    padding: 16px 22px;
    display: inline-block;
  }
  .cms-buy-button-content-wrapper {
    letter-spacing: 0.02em;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    overflow: hidden;
    text-transform: uppercase;
    display: block;
    position: relative;
  }
  #cms-buy-button-cart-icon {
    margin-right: 10px;
  }
  #cms-buy-button-envato-logo {
    fill: #fff;
  }
  .cms-buy-button-top > * {
    display: block;
    float: left;
    line-height: inherit;
    margin-right: 3px;
  }
  .decorated {
    margin-left: 5px;
    padding-left: 13px;
    position: relative;
    &:before {
      background-color: #000;
      content: "";
      height: 20px;
      left: -1px;
      opacity: 0.15;
      position: absolute;
      top: 0;
      width: 2px;
    }
  }
  &:hover {
    @include box-shadow(0 5px 20px rgba(0, 0, 0, 0.35));
    .btn-buy-close {
      opacity: 1;
      visibility: visible;
    }
  }
}