@media screen and (max-width: 1600px) {
  #cshero-footer.cms-footer5 #footer-top {
    padding-bottom: 300px;
  }
}

@media screen and (max-width: 1366px){
	.error-404 .page-header h1 {
		font-size: 180px;
		line-height: 1;
	}
	.layout-shop {
		.cms-shop-content{
			.cms-shop-content-inner{
				left: 50%;
			    position: absolute;
			    top: 50%;
			    transform: translate(-50%, -50%);
			    width: 100%;
			}
			.add_to_cart_button{
				position: relative;
				top: 0;
				left: 0;
				transform: translate(0, 0);
			}
			.cms-shop-item{
				position: relative;
				bottom: 0;
				left: 0;
				transform: translate(0, 0);
			}
		}
	}
	#cshero-footer.cms-footer5 #footer-top {
	    padding-bottom: 105px;
	}
}

@media screen and (min-width: 1250px){  
	body{
		.cs-boxed{
			width: 1250px;
			margin: 0 auto;
			#content{
		        background-color: #fff;
		    }
		    .vc_row[data-vc-full-width]{
		        width: 1250px !important;
		        margin: 0 auto;
		        left: 50% !important;
		        transform: translate(-50%,0);
		        padding-left: 0 !important;
		        padding-right: 0 !important;
		    }
		    .rev_slider_wrapper{
		        width: 1250px !important;
		        left: 50% !important;
		        transform: translate(-50%,0);
		    }
		}
	} 
	.sg-portfolio-layout6 .sg-portfolio-masonry {
	    .single-portfolio-image-item:last-child {
	      width: 100%;
	    }
	}
	.sg-portfolio-layout7 .sg-portfolio-masonry {
	    .single-portfolio-image-item:nth-child(3), .single-portfolio-image-item:nth-child(4) {
	      width: 50%;
	    }
	}
}

@media screen and (max-width: 1200px) {
	.fp-tableCell .rm-padding-sm {
	    > .vc_column-inner {
	      padding-left: 30px !important;
	      padding-right: 30px !important;
	    }
	}
	.cms-menu-restaurant.cms-menu-restaurant-style1 {
		padding: 30px;
	}
	.container{
		width: 100%;
	}
	.reset-pd-xs{
		>.vc_column-inner{
			padding: 0 15px !important;
		}
	}
	#content .woocommerce.columns-5{
	  ul.products li.product {
	    width: 25% !important;         
	  }
	}
	#cshero-footer.cms-footer5 #footer-top {
		padding-bottom: 180px;
	}
}

@media screen and (max-width: 1024px){
	.cms-row-full-width > .no-container {
	    margin-left: 0;
	    margin-right: 0;
	    > .row {
	      margin-left: 0;
	      margin-right: 0;
	      > .wpb_column {
	        padding: 0;
	      }
	    }
	}
	.cshero-popup-menu-inner {
		#cshero-header-navigation {
			.main-navigation {
				.menu-main-menu {
					> ul > li, >li {
						> a{
							font-size: 25px;
						}
					}
				}
			}
		}
	}
	.cms-process .cms-process-icon .arrow-right{
		right: -70px;
	}
	.pricing-wrap .pricing-head .pricing-price .cms-pricing-price{
		font-size: 60px;
	}
	#cshero-header-inner.m-style #cshero-header-navigation .main-navigation .menu-main-menu > ul > li > a, #cshero-header-inner.m-style #cshero-header-navigation .main-navigation .menu-main-menu > li > a{
		padding: 0 5px;
	}
}
@media screen and (min-width: 992px){    
	.bd-footer6 #cshero-footer.cshero-footer6 #footer-top .footer-top-item .footer-top-item-inner {
		margin-top: -145px;
	} 
	.text-left-md{
		text-align: left;
	}
	.text-right-md{
		text-align: right;
	}
	.text-center-md{
		text-align: center;
	}
	.custom-width{
		>.vc_column-inner{
			max-width: 570px;
		}
	}   
	.cms-grid {   
	    .col-lg-3:nth-child(4n+1) {
	      clear: left;
	    }
	    .col-lg-4:nth-child(3n+1) {
	      clear: left;
	    }
	    .col-lg-6:nth-child(2n+1) {
	      clear: left;
	    }
	    .col-lg-8:nth-child(2n+1) {
	      clear: left;
	    }
	}       
}
@media screen and (max-width: 991px){
	.cms-menu-restaurant.cms-menu-restaurant-style2 {
		.cms-menu-restaurant-item:nth-child(even) {
			.cms-menu-restaurant-image {
				float: left;
			}
			.cms-menu-restaurant-holder {
				float: right;
			}
		}
		.cms-menu-restaurant-item:nth-child(odd) {
			.cms-menu-restaurant-image {
				float: right;
			}
			.cms-menu-restaurant-holder {
				float: left;
		}
		}
	}
	.rm-padding-sm {
	    > .vc_column-inner {
	      padding-left: 0 !important;
	      padding-right: 0 !important;
	    }
	}
	.cms-grid {   
	    .col-sm-3:nth-child(4n+1) {
	      clear: left;
	    }
	    .col-sm-4:nth-child(3n+1) {
	      clear: left;
	    }
	    .col-sm-6:nth-child(2n+1) {
	      clear: left;
	    }
	}
	.container{
		width: 100%;
	}
	.text-left-md,
	.text-right-md{
		text-align: center;
	}
	.text-center-xs {
		text-align: center;  
		.text-left,.text-right,.align-left,.align-right{
			text-align: center !important;   
		}  
	}
	.custom-height{
		height: 677px;
	}
	.popup-menu-dark2 .style-dark1,.style-dark2, .style-light2{
		#cshero-header-navigation {
			.main-navigation {
				.menu-main-menu {
					> ul > li, > li{
						display: block;
					}
				}
			}
		}
	}
	.style-light1,.style-light2,.style-dark1,.style-dark2  {
		#cshero-header-navigation {
			.main-navigation {
				.menu-main-menu {
					> ul > li, > li{
						>a{
							&:hover{
								color: $primary_color !important;
							}
						}
					}
				}
			}
		}
	}
	.cms-cta-default .cms-cta-button{
		margin-top: 20px;
	    position: initial;
	    right: 0;
	    top: 0;
	    @include transform(translateY(0));
	}
	.page-template-right-sidebar{
		.widget-area{
			margin-top: 0;
		}
	}
	.page-template-left-sidebar{
		.widget-area{
			margin-bottom: 0;
		}
	}
	.page-template-blog-classic-right-sidebar,
	.page-template-blog-classic-left-sidebar{
	    .widget-area{
	        margin: 35px 0 0;
	    }
	}
	.is-sidebar-left ,
	.is-sidebar-right{
		> [class*="col-"] {
			+ [class*="col-"]{
				margin-top: 40px;
			}
		}
	}
	.vc_row{
		&.half-left-background,
		&.half-right-background{
			background-size: 100% 100% !important;        
			background-position: center center !important;    
		}
	}
	.cms-carousel-layout-portfolio{
		padding: 0;
		.owl-controls {
			.owl-nav {
				.owl-next{
					right: 35px;
				}
			}
			.owl-dots{
				bottom: 25px;
			}
		}
	}
	.single-portfolio-wrap{
		&.layout1,
		&.layout3{
			.sg-portfolio-body{
				.sg-portfolio-left{
					margin-bottom: 80px;
				}    
			}
		}
	}
	#content .woocommerce.columns-4 ul.products li.product,
	.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product,
	#content .woocommerce.columns-5 ul.products li.product{
		width: 50% !important;
	}
	body.woocommerce #content .shop-4column ul.products li.product, .woocommerce-page #content .shop-4column ul.products li.product,
	body.woocommerce #content .shop-3column ul.products li.product, .woocommerce-page #content .shop-3column ul.products li.product{
		width: 50% !important;
	}
	body.header-22 #page, body.header-23 #page{
		padding-left: 0;
		.cms-carousel-layout-portfolio .cms-carousel-item{
			padding-left: 30px;
		}
	}  
	.cms-carousel-layout-portfolio .owl-controls .owl-dots{
		bottom: 50px;
	}    
	#content.site-content {
		margin-bottom: 0 !important;
	}
	#cshero-footer.cms-footer5 {
		position: static !important;
		z-index: inherit;
	}
}
@media screen and (max-width: 768px){
	.cms-process {
		.cms-process-list .cms-process-item{
			width: 100%;
			+.cms-process-item{
				margin-top: 35px;
			}
		}
		.cms-process-icon {
			.arrow-right{
				display: none;
			}   
		}
	}
}

@media screen and (max-width: 767px){
	#comments .comment-list .children {
		padding: 0;
	}
	#comments .comment-list-wrap {
		padding: 20px 15px;
	}
	.fp-tableCell {
		.fp-order {
			> .wpb_column {
				&:nth-child(1) {
					order: 2;
				}
				&:nth-child(2) {
					order: 1;
				}
			}
		}
	}
	.align-center-sx{
		text-align: center;
	}
	.cms-countdown-wraper{
		[class*="col-"]{
			width: 100%;
			+[class*="col-"]{
				margin-top: 50px;
			}
		}
	}
	.layout-testimonial.layout-testimonial2 .cms-testimonial-item{
		max-width: 100%;
	}
	.vc_tta-container{
		.vc_tta{
			&.vc_general {
				&.vc_tta-tabs{
					.vc_tta-panel-title{
						>a{
							&:before{
								display: none;
							}        
						}
					}
				}
			}
		}
		.vc_tta-color-grey{
			&.vc_tta-style-classic,&.vc_tta-style-modern {
				&.vc_tta-tabs-position-left,
				&.vc_tta-tabs-position-right{
					&.vc_tta-tabs{
						.vc_tta-panel{
							.vc_tta-panel-body{
								text-align: center;
								padding: 30px 15px !important;
							}
						}
					} 
				}
			}
		}
	}
	.reset-border-xs{
		border: none !important;
	}
	.error-404 .page-header h1{
		font-size: 50px;
		line-height: 70px;
	}
	.single-post {
		.post-navigation {
			.post-next{
				text-align: left;
				margin-top: 10px;
				a{
					img{
						float: left;
					}
				}
				.nav-inner{
					padding-left: 65px;
    				padding-right: 30px;
				}
			}
		}
		.cms-related-post {
			.cms-related-post-inner {
				.item{
					+ .item{
						margin-top: 30px;
					}
				}
			}
		}
	}
	.single-portfolio-wrap.layout6{
	   .sg-portfolio-gallery-item{
	    &:nth-child(n+2){
	      width: 100%;
	    }
	    &:nth-child(n+3){
	      width: 100%;
	    }
	   }
	}
	.single-portfolio-wrap.layout7{
	   .sg-portfolio-gallery-item{
	      width: 100%;
	    &:nth-child(n+3){
	      width: 100%;
	    }
	    &:nth-child(n+4){
	      width: 100%;
	    }
	   }
	    .sg-portfolio-body {
	      .sg-portfolio-meta ul.cms-portfolio-meta{
	        margin-top: 88px;
	      }
	    }
	}
	.layout-portfolio1.style-7.cms-grid-wraper .cms-grid-filter ul{
		text-align: center;
		margin-top: 40px;
	}
	.widget #sb_instagram .sbi_photo{
		&:after{
			font-size: 100px; 
		}        
	}
	.style-dark1 , .style-light1 {
		#cshero-header-navigation .main-navigation .menu-main-menu{
			max-width: 100%;
			> li{
				display: inline-block;
				padding: 0 15px;
				a{
					font-size: 15px;               
				}
			}
		}
	}
	.vc_tta-container .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panel, .vc_tta-container .vc_tta-color-grey.vc_tta-style-modern.vc_tta-tabs .vc_tta-panel{
		margin: 0 0 10px !important;    
	} 
	.reset-img-align-sm{
		text-align: center !important;     
	}         
	.single-post .entry-blog .entry-content, .single-testimonial .entry-blog .entry-content, .single-team .entry-blog .entry-content, .single-carousels .entry-blog .entry-content, .single-post .post-navigation, .single-testimonial .post-navigation, .single-team .post-navigation, .single-carousels .post-navigation, .single-post .cms-related-post, .single-testimonial .cms-related-post, .single-team .cms-related-post, .single-carousels .cms-related-post {
		padding: 20px 15px;
	}
}

@media screen and (max-width: 640px){
	.cms-menu-restaurant.cms-menu-restaurant-style1 .cms-menu-restaurant-item {
		.cms-menu-restaurant-left {
			padding-right: 0;
			padding-bottom: 30px;
		}
		.cms-menu-restaurant-right {
			position: static;
		}
	}
	.cms-menu-restaurant.cms-menu-restaurant-style2 {
		.cms-menu-restaurant-image, .cms-menu-restaurant-holder {
			width: 100%;
		}
	}
}

@media screen and (max-width: 568px){
	.cshero-popup-search .cshero-search-inner #searchform input[type="text"]{
		font-size: 14px;
	}
	.reset-fontsize-xs,.reset-fontsize-xs h1,.reset-fontsize-xs h2,.reset-fontsize-xs h3{
		font-size: 30px !important;
		line-height: 45px !important;
	}
}
@media screen and (max-width: 480px){
	.widget_newsletterwidget .tnp-widget input[type="submit"]{
		position: inherit !important;
		margin: 15px auto 0 !important;
	}
	.style2,.style3{
	    .widget_newsletterwidget{
	        .tnp-widget{
	            input[type="email"]{
	                padding-right: 20px !important;    
	            }
	        }
	    }
	}
	.widget-area{
		padding: 20px;
	}
	.single-post .post-share-buttons,
	.sg-portfolio-body .sg-portfolio-meta .post-share-buttons {
		margin-bottom: 30px;
		ul{
			float: left;
			width: 100%;
			li{
				&:first-child{
					padding-left: 0;
				}
			}   
		}
	}
	.single-post .entry-author .blog-admin-post .admin-info ul.cms-social li a{
		padding: 0 5px;
	}
	#comments .comment-list > .comment ul.children > li .comment-body{
		margin-left: 30px;
	}
	.layout-portfolio7{
		.cms-portfolio-content{
			padding: 50px 15px;    
		}
	}
	.single-portfolio-wrap{
		.owl-controls{
		    .owl-prev,
		    .owl-next{
		      width: 30px;
		      height: 30px;
		      &:before{
		        font-size: 15px;
				line-height: 30px
		      }
		    }
		}
	}	
	#content .woocommerce.columns-4 ul.products li.product,
	.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product,
	#content .woocommerce.columns-2 ul.products li.product,
	#content .woocommerce.columns-5 ul.products li.product{
		width: 100% !important;
	}
	body.woocommerce #content .shop-4column ul.products li.product, .woocommerce-page #content .shop-4column ul.products li.product,
	body.woocommerce #content .shop-3column ul.products li.product, .woocommerce-page #content .shop-3column ul.products li.product{
		width: 100% !important;
	}
	.cms-cta-wrapper{
		.cms-cta-button a{
			+a{
				margin-top: 20px;
			}     
		}    
	}
	#comments {
		.comment-list {
			.comment-author-image{
				display: block;
				padding-right: 0;
			}
			.comment-main{
				width: 100%;   
			}
		}

	}
}
@media screen and (max-width: 360px){
	.pricing-wrap {
		.pricing-head {
			h3.cms-pricing-title{
				margin-bottom: 10px;
			}
			.pricing-price {
				.cms-pricing-price{
					font-size: 30px;
					line-height: 30px;
				}
			}
		}
	}
	#cancel-comment-reply-link{
		float: none;
	}
	
	#commentform #submit{
		font-size: 9px;
		padding: 0 10px;
	}
}






