.widget-area{
	background-color: #fff;
	@include box-shadow(0 2px 3px rgba(#282828,0.06));
	@include border-radius(3px);
	padding: 50px;
	margin: 0 0 110px 0;
	position: relative;
	z-index: 1;
}
#sidebar,
.widget-area,
.sidebar-inner{
	h3.wg-title{
	    border-bottom: 2px solid #eee;
	    color: #222222;
	    font-size: 13px;
	    letter-spacing: 0.06em;
	    line-height: 30px;
	    text-transform: uppercase;
	    position: relative;
	    padding-bottom: 9px;
	    margin-bottom: 14px;
	    font-family: Raleway;
	    font-weight: 800;
	    span{
	    	border-bottom: 2px solid $primary_color;
		    bottom: -11px;
		    display: inline-block;
		    position: relative;
		    padding-bottom: 9px;    
	    }
	}
	aside{
		+aside{
			margin-top: 39px;     
		}
		.widget_categories{
			margin-top: 39px;
		}
		&.cms-recent-post-wrapper {
			margin-top: 25px;
			.cms-recent-post{
				margin-top: 20px;
				.cms-recent-details {
					border-bottom: none;
					.cms-recent-title {
						a{
							color: #282828;
							&:hover{
								color: $primary_color;
							}
						}
					}
				}
			}
		}
		&.widget_tag_cloud{
			margin-top: 19px;
		}
	}
}
.shop-sidebar{
	.widget-area {
		@include box-shadow(none);
		aside {
			+ aside{
				margin-top: 39px;
			}
		}
	}
}

