/* cms recent post widget */
.cms-recent-post {
    padding-top: 9px;    
    .cms-recent-media {
        float: left;
        max-width: 49px;
        img{
            @include border-radius(2px);
            width: 100%;
        }
    }
    .cms-recent-details {
        margin: -5px 0 0 64px;
        padding-bottom: 12px;
        border-bottom: 1px solid #2b2b2b;
        .cms-recent-title{
            a {
                color: #cecece;
                font-size: 14px;
                line-height: 22px;
                font-weight: 600;
            }
        }
        .cms-recent-date {
            color: #616161;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.02em;
            line-height: 26px;
            margin-top: 5px;
        }
        .readmore {
            line-height: 1;
            a {
                font-size: 12px;
                text-transform: uppercase;
                color: #2b2e35;
                line-height: 18px;
                font-weight: 600;   
                &:hover {
                    color: $primary_color;
                }
            }
        }
    }
    .item {
        margin-bottom: 20px;
        position: relative;
        &:last-child {
            margin-bottom: 0;
            .cms-recent-details {
                border-bottom: none;
            }
        }
    }
}

/* Instagram */
.widget #sb_instagram{
    margin-top: 27px;
    padding-bottom: 0 !important;  
    img{
        @include border-radius(1px);
    }  
    .sbi_photo{
      position: relative;
      &:before{
        background: $primary_color;
        top: 0px;
        left: 0px;
        width: 100%;
        content: '';
        height: 100%;
        position: absolute;
        opacity: 0;
        @include transition(all 300ms linear 0ms);
      }
      &:after{
        content: "+";
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        opacity: 0;
        font-size: 16px;
        font-weight: 700;
        @include transition(all 300ms linear 0ms);
        @include transform(translate(-50%,-50%));
        color: #fff;

      }
      &:hover{
        &:before,
        &:after{
          opacity: 1;
        }
      }
    } 
}
/* newsletter widget */
.widget_newsletterwidget{
    position: relative;
    margin-bottom: 0 !important;
    .tnp-widget{
        max-width: 570px;
        margin: 15px auto 15px;
        .tnp-field{
            margin-bottom: 0;
        }
        form{
            position: relative; 
        }
        label{
            display: none;
        }
        input[type="email"]{
            height: 51px;
            padding: 0;
            border: 2px solid #eee !important;
            @include border-radius(0);
            background: transparent !important;
            font-size: 13px;
            line-height: 47px;
            letter-spacing: 0.02em;
            padding: 0 20px !important;
            color: #ffffff;
            font-style: normal;  
            font-weight: 800;
            text-transform: uppercase;
            outline: 0;
            max-width: 370px;
            @include box-shadow(none);
            &:focus{
                outline: 0;
            }
        }
        input[type="submit"]{
            background: $primary_color !important;
            border: 2px solid $primary_color !important;
            @include border-radius(0);
            height: 51px;
            padding: 0 !important;
            position: absolute !important;   
            right: 0;
            top: 0;
            width: 170px !important; 
            font-size: 13px;
            line-height: 47px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            font-weight: 800;
            margin: 0 0 0 30px;
            &:hover{
                background-color: transparent !important;
                border-color: $primary_color !important;
            }
        }
        input::-moz-placeholder, textarea::-moz-placeholder {
            color: #ffffff;
        }
        input::-webkit-input-placeholder, textarea::-webkit-placeholder {
            color: #ffffff;   
        }
        input::-o-placeholder, textarea::-o-placeholder {
            color: #ffffff;
        }
        input::-ms-placeholder, textarea::-ms-placeholder {
            color: #ffffff;
        }
    }
}
.style1,.style3{
    .widget_newsletterwidget{
        .tnp-widget{
            input[type="submit"]{
                background: #222 !important;
                border: 2px solid #222 !important;
                &:hover{
                    background-color: transparent !important;
                    border-color: #222 !important;
                }
            }
        }
    }
}
.style2,.style3{
    .widget_newsletterwidget{
        .tnp-widget{
            input[type="email"]{
                @include border-radius(51px);
                max-width: 100%;
                padding-right: 190px !important;    
            }
            input[type="submit"]{
                @include border-radius(51px);
            }
        }
    }
}
footer{
    .widget_newsletterwidget {
        .tnp-widget {
            position: relative;
            &:before{
                content: "\f178";
                font-family: FontAwesome;
                font-size: 11px;
                color: #fff;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 9;
                width: 42px;
                height: 42px;
                text-align: center;
                line-height: 42px;
                cursor: pointer;
            }    
            input[type="email"]{
                background-color: #1d1d1d !important;
                @include border-radius(1px);
                height: 42px;
                border: none !important;
                text-transform: none;
                font-weight: normal;
                font-size: 13px;
                line-height: 25px;
                color: #474747;
                padding: 0 62px 0 20px !important ;
                font-style: italic;
            }
            input[type="submit"]{
                background: none !important;
                border: none !important;
                height: 42px;
                width: 42px !important;
                margin: 0;
                font-size: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 99;    
            }
        }
    }
    input::-moz-placeholder, textarea::-moz-placeholder {
        color: #474747;
    }
    input::-webkit-input-placeholder, textarea::-webkit-placeholder {
        color: #474747;   
    }
    input::-o-placeholder, textarea::-o-placeholder {
        color: #474747;
    }
    input::-ms-placeholder, textarea::-ms-placeholder {
        color: #474747;
    }
}
/* widget search */
.widget_search{
    .searchform{
        position: relative;
        div{
            &:before{
                color: $primary_color;
                content: "\f002";
                font-family: FontAwesome;
                font-size: 14px;
                position: absolute;
                right: 18px;
                top: 13px;
                z-index: 2;
            }
        }
        label{
            display: none;
        }
        input[type="text"]{
            border-color: #efefef;
            text-transform: none;
            color: #9e9e9e;
            font-weight: 500;
            letter-spacing: 0;
            padding-right: 42px;
            &:focus{
                border-color: $primary_color;     
            }
        }
        input::-moz-placeholder, textarea::-moz-placeholder {
            color: #9e9e9e;
        }
        input::-webkit-input-placeholder, textarea::-webkit-placeholder {
            color: #9e9e9e;   
        }
        input::-o-placeholder, textarea::-o-placeholder {
            color: #9e9e9e;
        }
        input::-ms-placeholder, textarea::-ms-placeholder {
            color: #9e9e9e;
        }
        #searchsubmit{
            background-color: transparent;
            border: medium none;
            font-size: 0;
            height: 50px;
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            z-index: 99;
        }
    }
}
.widget_categories,
.widget_recent_entries,
.widget_recent_comments,
.widget_archive,
.widget_meta,
.widget_pages,
.widget_nav_menu,
.widget_product_categories{        
    ul{
        li{
            position: relative;
            a{
                color: #333;
                font-size: 13px;
                font-weight: 500;
                line-height: 40px;
                text-transform: capitalize;
                &:hover{
                    color: $primary_color;
                }
            }
            +li{
                border-top: 1px solid #f4f4f4;
            } 
        }
    }
    >ul{
        >li{
            &:before{
                content:"\f105";
                font-family: FontAwesome;
                position: absolute;    
                right: 0;
                font-size: 11px;
                top: 8px;
            }
        }
    }
}
.widget_tag_cloud{
    .tagcloud{
        margin-top: 20px;
    }
    a {
        border: 2px solid #eee;
        color: #9b9b9b;
        display: inline-block;
        font-size: 13px !important;
        line-height: 26px;
        margin: 10px 6px 0 0;
        padding: 0 7px;
        &:hover{
            border-color: $primary_color;
            color: $primary_color;
        }
    }
}
.wpb_images_carousel{
    .vc_images_carousel {
        .vc_carousel-indicators {
            li{
                background: transparent none repeat scroll 0 0;
                border: 2px solid #b4b4b4;
                margin: 0 3px;
                &.vc_active{
                    background-color: $primary_color;
                    border-color: $primary_color;
                }
            }
        }
        .vc_carousel-indicators{
            bottom: -10px;
        }
    }
}
.widget_product_tag_cloud{
    .tagcloud{
        margin-top: 20px;
        a{
            border: 2px solid #eee;
            color: #9b9b9b;
            display: inline-block;
            font-size: 13px;
            line-height: 26px;
            padding: 0 7px;
            margin-top: 10px;
            margin-right: 5px;
            &:hover{
                border-color: $primary_color;
                color: $primary_color;
            }
        }
    }
}
.news-twitter{
    .item-content{
        color: #9b9b9b;
        font-size: 13px;
        line-height: 23px;
        p{
            position: relative;
            &:before{
                content: "\f099";
                font-family: FontAwesome;
                padding-right: 10px;
            }
            margin-bottom: 0;
            +a{
                font-size: 12px;
                color: #616161 !important;
                &:hover{
                    color: $primary_color !important;
                }
            }
        }
        +.item-content{      
            margin-top: 17px;
        }
    }
}
.widget_archive{
    label{
        display: none;
    }
}
.widget_shopping_cart_content .woocommerce-mini-cart__empty-message {
    margin-bottom: 0;
}